* {
  box-sizing: border-box;
  margin: 0 px;
  padding: 0 px;
  font-family: 'Baloo Tammudu 2', cursive;
}
.container {
  height: 98vh;
  padding: 3vh;
  display: flex;
  justify-content: center;
}
.sidebar {
  width: 19%;
}
.sidebar-item {
  margin-bottom: 7px;
  padding: 7px;
  display: flex;
  border-radius: 7px;
  align-items: center;
  height: 7%;
  transition: background-color 0.2s;
  cursor: pointer;
  user-select:none ;
}
.sidebar-item  > div > p {
  width: 100%;
  font-size: 19px;
}
.image-preview {
  width: 16%;
  height: 85%;
  margin-right: 7px;
  border-radius: 5px;
  object-fit: cover;
}
.image-box {
  width: 37%;
  margin-left: 20px;
}
.image-box > img {
  width: 100%;
  height: 84%;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgba(22, 15, 15, 0.5),
    -3px -3px 3px rgba(22, 15, 15, 0.5);
  
}

.image-box > p {
  text-align: center;
  font-size: 22px;
  color: rgb(80, 80, 80);
}
.selected{
    background-color:rgb(53, 50, 243);
    color : blanchedalmond;
}

#image-name-overflow {
  position: relative;
  width: 180px;
}

#image-name-overflow p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#image-name-overflow:after {
  content: attr(data-image-name);
  position: absolute;
  left: 100%;
  top: 20px;
  font-size: 19px;
  font-family: "Baloo Tammudu 2", cursive;
}
